global:
  scrape_interval: 10s
  evaluation_interval: 10s

rule_files:
- "rules/aggregation.rules.yml"

scrape_configs:
  - job_name: 'cockroachdb'
    metrics_path: '/_status/vars'
    # Insecure mode
    scheme: 'http'
    tls_config:
      insecure_skip_verify: true

    ec2_sd_configs:
      - port: 8080
        filters:
          - name: 'tag:Role'
            values: [ 'crdb_exploration_db' ]

    relabel_configs:
    - source_labels: [ __address__ ]
      target_label: 'cluster'
      replacement: 'test-cluster'

  - job_name: 'grafana'
    scrape_interval: 10s
    scrape_timeout: 5s
    static_configs:
      - targets: [ 'localhost:3000' ]

  - job_name: 'haproxy'
    scrape_interval: 10s
    scrape_timeout: 5s
    ec2_sd_configs:
      - port: 8404
        filters:
          - name: 'tag:Role'
            values: [ 'crdb_exploration_loadgen' ]
